<!doctype html>
<html lang="en" {%- if color_scheme %} data-theme="{{ color_scheme }}"{%- endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <meta property="og:title" content="Wild Magic Rocks">
    <meta property="og:description" content="A wild magic spell surge generator">
    <meta property="og:url" content="https://wildmagic.rocks/">
    <meta property="og:type" content="website" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static('site.webmanifest') }}">
    <link rel="stylesheet" href="{{ static('css/pico.css') }}">
    <title>Wild Magic Rocks!</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Wild Magic Rocks!</strong></li>
        </ul>
        <ul>
            <li><a href="{{ url('surge') }}">Surge Generator</a></li>
            <li><a href="{{ url('surge_table') }}">Surge Table Generator</a></li>
            <li><a href="{{ url('rules') }}">Rules</a></li>
            <li><a href="{{ url('help') }}">Help</a></li>
            <li>(<a href="{{ light_url }}">Light</a> | <a href="{{ dark_url }}">Dark</a>)</li>
        </ul>
    </nav>
    <main class="container-fluid">{% block content %}{% endblock %}</main>
</body>
</html>