{%- extends "base.html" -%}
{%- block content -%}
<h1>Help!</h1>
<p><a href="{{ url('surge') }}">Wild Magic Rocks!</a> is a wild magic surge generator for table top role playing games.</p>
<h2>How do I use it?</h2>
<p>There are a few ways you can use this site:</p>
<ul>
    <li>You can use the <a href="{{ url('surge') }}">Surge Generator</a> to generate a random, single wild magic surge.</li>
    <li>You can use the <a href="{{ url('surge_table') }}">Surge Table Generator</a> to generate a table of wild magic surges to use in encounters.</li>
</ul>

<h2>What are the 'Permalink' buttons?</h2>
<p>On <a href="{{ url('surge') }}">Surge Generator</a> page, the <strong>Permalink</strong> button links to a surge page that will always show that specific surge. The <strong>seed</strong> query string parameter can be provided to always generate the exact surge text regardless of any dynamic elements it may contain.</p>
<p>Similarly, on the <a href="{{ url('surge_table') }}">Surge Table Generator</a> page, the <strong>Permalink</strong> button links to a surge table that can be shared and refreshed with the same content given the <strong>seed</strong> query string parameter.</p>

<h2>What is the <strong>Select</strong> button on the Surge Table Generator page</h2>
<p>The select button links to a <strong>Permalink</strong> url for that table but with the <strong>selected</strong> query string parameter set to <kbd>-1</kbd>. When you go to that page, the table will redirect to a selected table item and set the <strong>selected</strong> query string parameter to the selected number.</p>

<h2>Can I change the number of surges on with Surge Table Generator?</h2>
<p>By default, <strong>20</strong> surges are generated. If you click on the <strong>Permalink</strong> button on the Surge Table Generator, you can see the <strong>count</strong> query string parameter.</p>
<p>The table will generate no fewer than 5 and no more than 100 surges.</p>

<h2>How can I see the raw surge text before dynamic values are filled?</h2>
<p>Click on a surge <strong>Permalink</strong> and then append the <kbd>&raw=true</kbd> query string parameter</p>

<h2>Is there a dark mode?</h2>
<p>Yes! This site uses <a href="https://picocss.com/">Pico.css</a> which suports both <a href="{{ url('surge', query_={'light': 't'}) }}">light</a> and <a href="{{ url('surge', query_={'dar': 't'}) }}">dark</a> modes. Because this website doesn't use any javascript, cookies, or browser storage, when you add either <kbd>light</kbd> or <kbd>dark</kbd> to the query string parameters, that value will be appended to any links generated through the site.</p>

<h2>I found a bug!</h2>
<p>Go to <a href="https://github.com/ngerakines/wildmagic-rocks/issues">github.com/ngerakines/wildmagic-rocks/issues</a> and create a new issue. Please describe what you encountered, what you did to get there, and what you expect to happen.</p>

<h2>I'd like to contribute!</h2>
<p>Fantastic! There are lots of ways to contribute:</p>
<ul>
    <li>The core Python 3.10+ aiohttp project</li>
    <li>The content that is randomly generated</li>
    <li>Documentation and community support</li>
    <li>Spreading the word</li>
    <li>Financially through GitHub sponsorship or by buying me a cup of coffee</li>
</ul>
<p>To get started, go to <a href="https://github.com/ngerakines/wildmagic-rocks">github.com/ngerakines/wildmagic-rocks</a> start looking through open issues, pull-requests, and the codebase.</p>

<h2>What else should I know?</h2>
<ul>
    <li>This is an act of love and made in Ohio by <a href="https://thegem.city/@nick">thegem.city/@nick</a>.</li>
    <li>This site does not use any javascript or cookies, and does not track you.</li>
    <li>This site is open source under the MIT license.</li>
    <li>This website is mobile friendly. As a result, sometimes it looks stretched in very wide browser windows.</li>
</ul>
{%- endblock -%}
