<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/pico.css">
    <title>Wild Magic Rocks!</title>
</head>

<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Wild Magic Rocks!</strong></li>
        </ul>
        <ul>
            <li><a href="/">Surge Generator</a></li>
            <li><a href="/table">Surge Table Generator</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
    <main class="container-fluid">
        <h1>Help!</h1>
        <p><a href="https://wildmagic.rocks/">Wild Magic Rocks!</a> is a wild magic surge generator for table top role playing games.</p>
        <h2>How do I use it?</h2>
        <p>There are a few ways you can use this site:</p>
        <ul>
            <li>You can use the <a href="https://wildmagic.rocks/">Surge Generator</a> to generate a random, single wild magic surge.</li>
            <li>You can use the <a href="https://wildmagic.rocks/table">Surge Table Generator</a> to generate a table of wild magic surges to use in encounters.</li>
        </ul>

        <h2>What are the 'Permalink' buttons?</h2>
        <p>On Surge Generator page, the <mark>Permalink</mark> button links to a surge page that will always show that specific surge. The <mark>seed</mark> query string parameter can be provided to always generate the exact surge text regardless of any dynamic elements it may contain.</p>
        <p>Similarly, on the Surge Table Generator page, the <mark>Permalink</mark> links to a surge table that can be shared and refreshed with the same content given the <mark>seed</mark> query string parameter.</p>

        <h2>What is the <mark>Select</mark> button on the Surge Table Generator page</h2>
        <p>The select button links to a <mark>Permalink</mark> url for that table but with the <mark>selected</mark> query string parameter set to <kbd>-1</kbd>. When you go to that page, the table will redirect to a selected table item and set the <mark>selected</mark> query string parameter to the selected number.</p>

        <h2>Can I change the number of surges on with Surge Table Generator?</h2>
        <p>By default, <mark>20</mark> surges are generated. If you click on the <mark>Permalink</mark> button on the Surge Table Generator, you can see the <mark>count</mark> query string parameter.</p>
        <p>The table will generate no fewer than 5 and no more than 100 surges.</p>

        <h2>How can I see the raw surge text before dynamic values are filled?</h2>
        <p>Click on a surge <mark>Permalink</mark> and then append the <kbd>&raw=true</kbd> query string parameter</p>

        <h2>I found a bug!</h2>
        <p>Go to <a href="https://github.com/ngerakines/wildmagic-rocks/issues">github.com/ngerakines/wildmagic-rocks/issues</a> and create a new issue. Please describe what you encountered, what you did to get there, and what you expect to happen.</p>

        <h2>I'd like to contribute!</h2>
        <p>Fantastic! There are lots of ways to contribute:</p>
        <ul>
            <li>The core Python 3.10+ aiohttp project</li>
            <li>The content that is randomly generated</li>
            <li>Documentation and community support</li>
            <li>Spreading the word</li>
            <li>Financially through GitHub sponsorship or by buying me a cup of coffee</li>
        </ul>
        <p>To get started, go to <a href="https://github.com/ngerakines/wildmagic-rocks">github.com/ngerakines/wildmagic-rocks</a> start looking through open issues, pull-requests, and the codebase.</p>

        <h2>What else should I know?</h2>
        <ul>
            <li>This is an act of love and made in Ohio by <a href="https://thegem.city/@nick">thegem.city/@nick</a>.</li>
            <li>This site does not use any javascript or cookies, and does not track you.</li>
            <li>This site is open source under the MIT license.</li>
        </ul>

    </main>
</body>

</html>